In [1]:
print("Hello World")

Hello World

In [4]:
x=16
y=4

print('Addition: ', x+y)

print('Substractions' , x-y)

print('Multiplications',x*y)

print('Division: ',x/y)

print('Modulus: ', x%y)

print('Exponent: ',x**y)

print('Floor Division: ',x//y)

Addition:  20
Substractions 12
Multiplications 64
Division:  4.0
Modulus:  0
Exponent:  65536
Floor Division:  4

In [6]:
mylist =["apple","banana","cherry"]

In [7]:
thislist = ["apple","banana","cherry","apple","manggo"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'manggo']

In [8]:
list1 =[ "apple","banana","cherry"]
list2 =[ 1,5,7,9,3]
list =[True,False,False]

In [9]:
list1 = ["abc",34,True,40,"male"]
list1

['abc', 34, True, 40, 'male']

In [11]:
inilist = ["apple","banana","cherry"]
print(inilist[-1])

cherry

In [13]:
listbaru =["pear","apple","banana","cherry","apple","manggo"]
print(listbaru[2:5])

['banana', 'cherry', 'apple']

In [14]:
listbarubaru =["pear","apple","banana","cherry","apple","manggo"]
print(listbarubaru[2:])

['banana', 'cherry', 'apple', 'manggo']

In [15]:
listbarubaru =["pear","apple","banana","cherry","apple","manggo"]
if "apple" in listbarubaru:
    print("yap, ada apple di listbarubaru")

yap, ada apple di listbarubaru

In [17]:
inilist = ["apple","banana","cherry"]
inilist[1] = "grape"
print(inilist)

['apple', 'grape', 'cherry']

In [18]:
inilist = ["apple","banana","cherry"]
inilist.insert(2, "semangka")
print(inilist)

['apple', 'banana', 'semangka', 'cherry']

In [19]:
inilist = ["apple","banana","cherry"]
listbaru =["pear","apple","banana","cherry","apple","manggo"]
inilist.extend(listbaru)
print(inilist)

['apple', 'banana', 'cherry', 'pear', 'apple', 'banana', 'cherry', 'apple', 'manggo']

In [21]:
ist = ["apple","banana","cherry"]
ist.remove("banana")
print(ist)

['apple', 'cherry']

In [22]:
ist = ["apple","banana","cherry"]
ist.pop(1)
print(ist)

['apple', 'cherry']

In [24]:
tuple =('apple','banana','cherry')
print(tuple[1])

banana

In [25]:
tuple = ["pear","apple","banana","cherry","apple","manggo"]
print(tuple[2:])

['banana', 'cherry', 'apple', 'manggo']

In [26]:
ist = ["apple","banana","cherry"]
ist[1] = "strawberry"
print(ist)

['apple', 'strawberry', 'cherry']

In [27]:
thistuple = ("apple","banana","cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
thistuple

TypeError: 'list' object is not callable

{'cherry', 'banana', 'apple'}